<a href="https://colab.research.google.com/github/imksp/Data-Analysis-with-Open-Source/blob/main/exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**과제 1-1**

**과제 1-2**

In [1]:
import requests
import pandas as pd

# 연도-월 리스트 생성 함수
def get_year_months():
    year_months = []
    for year in range(2015, 2025):  # 2024까지 포함
        for month in range(1, 13):  # 1월부터 12월까지
            year_months.append(f'{year}{month:02d}')
    return year_months

# API 키와 기본 URL 설정
api_key = '4944414453696d6b3334716e636a6b'  # 본인의 인증키
base_url = f"http://openapi.seoul.go.kr:8088/{api_key}/json/energyUseDataSummaryInfo/1/5"

responses = []

# 월별 데이터 수집
for year_month in get_year_months():
    year = year_month[:4]
    month = year_month[4:]
    url = f"{base_url}/{year}/{month}/"

    # API 호출
    response = requests.get(url)

    # 데이터 수집
    if response.status_code == 200:
        data = response.json()
        rows = data['energyUseDataSummaryInfo']['row']
        for item in rows:
            if item['MM_TYPE'] == '개인':
                # 필요한 컬럼만 추출
                responses.append({
                    'YEAR': item['YEAR'],
                    'MON': item['MON'],
                    'EUS': item['EUS'],
                    'GUS': item['GUS'],
                    'WUS': item['WUS'],
                    'HUS': item['HUS']
                })
    else:
        print(f"{year}-{month} API 호출 실패: {response.status_code}")

import json
print(responses[:5])  # 상위 5개만 출력

[{'YEAR': '2015', 'MON': '01', 'EUS': '193784708', 'GUS': '59133720', 'WUS': '12819757.886', 'HUS': '22740838.937'}, {'YEAR': '2015', 'MON': '02', 'EUS': '189974230', 'GUS': '56487358', 'WUS': '12656888.218', 'HUS': '18793320.213'}, {'YEAR': '2015', 'MON': '05', 'EUS': '177289769', 'GUS': '22060892', 'WUS': '13086734.214', 'HUS': '1320895.801'}, {'YEAR': '2015', 'MON': '06', 'EUS': '186073153', 'GUS': '12677645', 'WUS': '14241651.402', 'HUS': '294312.634'}, {'YEAR': '2015', 'MON': '07', 'EUS': '165114568', 'GUS': '8893640', 'WUS': '12083879.038', 'HUS': '702863.645'}]

**과제 2-1**

In [3]:
# 데이터 변환
df = pd.DataFrame(responses)
print(df.head())  # 상위 5개 행 출력

   YEAR MON        EUS       GUS           WUS           HUS
0  2015  01  193784708  59133720  12819757.886  22740838.937
1  2015  02  189974230  56487358  12656888.218  18793320.213
2  2015  05  177289769  22060892  13086734.214   1320895.801
3  2015  06  186073153  12677645  14241651.402    294312.634
4  2015  07  165114568   8893640  12083879.038    702863.645

**과제 2-2**

In [5]:
# 월 → 계절 매핑 딕셔너리
season_map = {
    12: 'Winter', 1: 'Winter', 2: 'Winter',
    3: 'Spring', 4: 'Spring', 5: 'Spring',
    6: 'Summer', 7: 'Summer', 8: 'Summer',
    9: 'Fall', 10: 'Fall', 11: 'Fall'
}

# MON 컬럼이 문자열이면 정수로 변환
df['MON'] = df['MON'].astype(int)

# 계절 컬럼 추가
df['SEASON'] = df['MON'].map(season_map)
print(df[['YEAR', 'MON', 'SEASON']].head())

   YEAR  MON  SEASON
0  2015    1  Winter
1  2015    2  Winter
2  2015    5  Spring
3  2015    6  Summer
4  2015    7  Summer